.educations-header {
  font-size: 56px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
}

.main {
    width: 90%;
    margin: 0px auto;
}

@media (max-width: 1380px) {
  .educations-header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .educations-header {
    font-size: 30px;
  }
}
